# Compiled Object files
*.o
*.exe

# Ignore certain files in the data folder
/data/features/*.txt
/data/features/filtering/*.txt
/data/features/old
/data/samplePlans/*.txt
/data/clusterResults
# Scripts used for unimelb cluster
/scripts
# Solar black box simulator, do be downloaded from github to be used
# Obviously don't want to save it to the repo
/cpp_code/solar

# Ignore files related to runing R and matlab
.Rhistory
MatlabServer.m
InputStreamByteWrapper.class